OPENAI_BASE_URL=
OPENAI_API_KEY=

# https://www.firecrawl.dev/app/api-keys
FIRECRAWL_API_KEY=

# 博查AI开放平台: https://open.bochaai.com/api-keys
BOCHAAI_API_KEY=

# https://docs.smith.langchain.com/observability  2. Create an API key
LANGSMITH_TRACING=
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="gemini-fullstack-langgraph"